{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Exports / Nouveau{% endblock %}

{% block body %}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('app_exports') }}">Liste des exports</a></li>
    </ul>

    <h2>Demander un export</h2>

    {{ form(form) }}
{% endblock %}
