<div class="header-container">
    <a href="{{ path('app_home') }}" class="header-container-link">
        {% spaceless %}
            <span class="glyphicon glyphicon-hdd header-container-link-app" aria-hidden="true"></span>
            <h1>Mediatok</h1>
        {% endspaceless %}
    </a>
</div>
