{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Configuration / Type / Créer{% endblock %}

{% block body %}
    <ul class="nav nav-pills">
        <li role="presentation"><a href="{{ path('app_types') }}">Liste des types</a></li>
    </ul>

    <h2>Créer un type de médias</h2>

    {{ form(form) }}
{% endblock %}
